.strisciablu{
    background-color: #0C7CEC;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
    ul{
        padding: 20px;
        text-transform: uppercase;
        color: white;
        
        margin: 0 auto;
        img{
            padding: 10px;
            height: 40%;
        }
        svg{
            height: 40%;
        }
        span{
            font-size: 1.5rem;
        }
    }
}